---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
// import Contactform from '~/components/contactform.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Projects', href: '#projects', icon: 'tabler:arrow-down' }}
    image={{ src: import('~/assets/images/ak-banner.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Empowering women <br />in tech 🚀 <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="mb-1 font-bold text-primary dark:text-secondary">Aga Kadela</span> - a programmer, entrepreneur, and dedicated
      educator with a passionate mission: empowering women in tech. As the visionary behind Coder Woman School and dotty.ai,
      I'm committed to unleashing the full potential of women as coding superheroes."
    </Fragment>
  </Hero>

  <Content
    id="projects"
    highlight="Projects"
    title="What am I currently working on?"
    items={[
      {
        title: 'Learn coding basics at Coder Woman School',
        description: "Jump into coding with our easy-to-follow coding courses. It's like learning a new language, but more exciting and with virtual tea breaks!"
      },
      {
        title: "Create your own projects",
        description: "Don't just learn—apply your skills by building personal projects that you can showcase to the world."
      },
      {
        title: 'Join our empowering community',
        description: "Become part of a network of women just starting out in tech. Share tips, seek advice, and find encouragement when challenges arise. You’re not just joining a course, you’re joining a movement of women empowering women."
      },
    ]}
    image={{
      src: import('~/assets/images/cw-project.png'),
      alt: 'Coder Woman project screenshot',
    }}
    button={{
      href: 'https://coderwoman.com',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coder Woman School & Community</h3>
      Welcome to Coder Woman School and Community! Ready to start your coding adventure in a fun and supportive environment? Here’s what we offer:
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Tailored for Women',
        description: "Enjoy a learning experience designed with your needs in mind, emphasizing choices that cater specifically to women in tech."
      },
      {
        title: "Interactive Learning Tools",
        description: "With Dotty, learning is dynamic and interactive, featuring tools that adapt to your pace and preferences, making tech education both accessible and enjoyable."
      },
      {
        title: 'Continuous Guidance',
        description: "Benefit from continuous support and guidance. Dotty isn't just a learning platform—it's a mentor that grows with you as you advance."

      },
    ]}
    image={{
      src: import('~/assets/images/dotty-project.png'),
      alt: 'Dotty project screenshot',
    }}
    button={{
      href: 'https://dotty.ai',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Meet Dotty: Your Personal Tech Journey Guide! 🚀
      </h3>
      Lost in the tech world or unsure about your next step? Dotty is here to help! Tailored for women, this platform listens to your interests and career goals to create a customized learning path that’s perfect for you.
      <br/>
      Why Choose Dotty?
    </Fragment>
  </Content>

  <Features2 title="My favorite technologies" subtitle="" highlight="Tools" />

  <LatestPosts
    title="Check out my articles"
    postIds={['rendering-leaflet-clusters-fast-and-dynamically-lets-compare-3-methods.md']}
  />
</Layout>
