---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
// import Contactform from '~/components/contactform.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Projects', href: '#projects', icon: 'tabler:arrow-down' }}
    image={{ src: import('~/assets/images/ak-banner.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Empowering women <br />in tech 🚀 <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="mb-1 font-bold text-primary dark:text-secondary">Aga Kadela</span> - a programmer, entrepreneur and teacher
      on a mission to boost women in tech. Creator of Coder Woman Academy and dotty.ai, aiming to help women achieve their
      full potential as coding superheroes.
    </Fragment>
  </Hero>

  <Content
    id="projects"
    highlight="Projects"
    title="What am I currently working on?"
    items={[
      {
        title: 'Learn and grow with Coder Woman Academy',
      },
      {
        title: 'Meet other coders in Coder Woman Community',
      },
      {
        title: 'Become a coding superhero with us',
      },
    ]}
    image={{
      src: import('~/assets/images/portfolio-cw.png'),
      alt: 'Colorful Image',
    }}
    button={{
      href: 'https:.//coderwoman.com',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Coder Woman Academy & Community
      </h3>
      Coding is challenging, but it doesn't have to be so isolating. When you work in tech, you're often surrounded by men
      or part of a tiny minority of women developers. When you're the only woman in the room, it's easy to feel alone, and
      like you don't belong. Coder Woman Academy and Community is here to help. Our mission is to help women thrive in the
      coding world, and our community is open to anyone who wants to learn from anywhere.
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Increase your productivity with kanban boards and AI',
      },
      {
        title: 'Speed up your coding work with tools for programmers',
      },
      {
        title: 'Take care of your personal brand with portfolio templates and social media assistance',
      },
      {
        title: 'Improve your coding skills with tutorials and courses',
      },
    ]}
    image={{
      src: import('~/assets/images/portfolio-dotty.png'),
      alt: 'Vintage Image',
    }}
    button={{
      href: 'https://dotty.ai',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Dotty.ai - the best smart AI assistant for every developer
      </h3>
      Are you wasting your free time or procrastinating, instead of doing your projects? Let us help you. Develop your skills,
      improve your workflow, build your brand and get more done with dotty.ai.
    </Fragment>
  </Content>

  <Features2
    title="My favorite technologies"
    subtitle=""
    highlight="Tools"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <LatestPosts
    title="Check out my articles"
    postIds={['rendering-leaflet-clusters-fast-and-dynamically-lets-compare-3-methods.md']}
  />
</Layout>
