---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
// import Contactform from '~/components/contactform.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Projects', href: '#projects', icon: 'tabler:arrow-down' }}
    image={{ src: import('~/assets/images/ak-banner.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Empowering women <br />in tech 🚀 <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="mb-1 font-bold text-primary dark:text-secondary">Aga Kadela</span> - a programmer, entrepreneur and teacher
      on a mission to boost women in tech. Creator of Coder Woman School and dotty.ai, aiming to help women achieve their
      full potential as coding superheroes.
    </Fragment>
  </Hero>

  <Content
    id="projects"
    highlight="Projects"
    title="What am I currently working on?"
    items={[
      {
        title: 'Learn and grow with Coder Woman School',
      },
      {
        title: 'Meet other coders in Coder Woman Community',
      },
      {
        title: 'Become a coding superhero with us',
      },
    ]}
    image={{
      src: import('~/assets/images/cw-project.png'),
      alt: 'Coder Woman project screenshot',
    }}
    button={{
      href: 'https://coderwoman.com',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coder Woman School & Community</h3>
      Coding is challenging, but it doesn't have to be so isolating. When you work in tech, you're often surrounded by men
      or part of a tiny minority of women developers. When you're the only woman in the room, it's easy to feel alone, and
      like you don't belong. Coder Woman Academy and Community is here to help. Our mission is to help women thrive in the
      coding world, and our community is open to anyone who wants to learn from anywhere.
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Less search, more fun',
      },
      {
        title: "We don't just want you to read - we want you to grow!",
      },
      {
        title: 'For Women, By Women, In Tech',
      },
    ]}
    image={{
      src: import('~/assets/images/dotty-project.png'),
      alt: 'Dotty project screenshot',
    }}
    button={{
      href: 'https://dotty.ai',
      text: 'See live',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Dotty.ai - Where Tech Girls Connect the Dots!
      </h3>
      Drowning in a sea of tech news? No worries! Dotty.ai is here to help. Our smart AI technology curates the tech news
      that matters to you. It's like having a friend who knows just what you want to read. <br />
      We're not just another news hub. We're your partner in crime, your tech mentor, and your biggest fan in this digital
      journey. With Dotty.ai, you're ready to rule the tech world with confidence and style!
    </Fragment>
  </Content>

  <Features2 title="My favorite technologies" subtitle="" highlight="Tools" />

  <LatestPosts
    title="Check out my articles"
    postIds={['rendering-leaflet-clusters-fast-and-dynamically-lets-compare-3-methods.md']}
  />
</Layout>
