---
import TechStackList from '~/components/techstack/TechStackList.astro';
import type { TechStackItem } from '~/types';

const frameworks: Array<TechStackItem> = [
  {
    title: 'Python',
    icon: 'python',
  },
  {
    title: 'Next.js',
    icon: 'nextjs-icon',
  },
  {
    title: 'Node.js',
    icon: 'nodejs-icon',
  },
  {
    title: 'React',
    icon: 'react',
  },
  {
    title: 'Redux',
    icon: 'redux',
  },
  {
    title: 'Tailwind CSS',
    icon: 'tailwindcss-icon',
  },
  {
    title: 'Tensorflow',
    icon: 'tensorflow',
  },
  { title: 'TypeScript', icon: 'typescript-icon' },
];
---

<!-- <ContentSection title="Compatibility" id="compatibility"> -->
<section>
  <TechStackList items={frameworks} />
</section>
<!-- </ContentSection> -->
